#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Keyboard {
            bindings = <
&kp Q                  &kp W      &kp E           &kp R      &kp T                                      &kp Y      &kp U  &kp I                &kp O                 &mt LBKT P
&kp A                  &kp S      &kp D           &kp F      &kp G      &mo 5            &kp DEL        &kp H      &kp J  &kp K                &kp L                 &mt TILDE MINUS
&kp Z                  &kp X      &kp C           &kp V      &kp B      &lt 3 GRAVE      &kp BACKSPACE  &kp N      &kp M  &mt COMMA LESS_THAN  &mt DOT GREATER_THAN  &mt LS(QUESTION) SLASH
&mt LCTRL EXCLAMATION  &lt 2 END  &kp LEFT_SHIFT  &mkp RCLK  &kp SPACE  &mkp LCLK        &kp ENTER      &lt 1 ESC                                                    &mt LEFT_ALT TAB
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        L-JISnum {
            bindings = <
&none  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0                                   &kp ESC   &kp UP     &kp TAB    &none      &none
&none  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &none         &bt BT_SEL 0      &kp DELETE     &kp LEFT  &kp DOWN   &kp RIGHT  &none      &none
&none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none         &none             &kp BACKSPACE  &kp PLUS  &kp MINUS  &kp COLON  &kp SLASH  &none
&none  &none         &none         &kp F9        &kp SPACE     &kp F10           &kp LSHFT      &none                                      &kp LS(MINUS)
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        R-ASCnum {
            bindings = <
&none    &none  &none       &none                &none                                                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none  &kp LG(INT3)
&none    &none  &none       &none                &none      &bt BT_SEL 1                &kp KP_NUMBER_0  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none  &kp LS(NUMBER_4)
&none    &none  &none       &none                &kp F9     &kp F10                     &kp DOT          &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none  &kp LS(NUMBER_5)
&kp TAB  &none  &kp K_CALC  &mt LESS_THAN SLASH  &kp EQUAL  &mt GREATER_THAN COLON      &kp PLUS         &kp MINUS                                                 &kp ESC
            >;
        };

        Function {
            bindings = <
&none  &none  &none  &none   &none                             &trans         &trans  &trans  &trans  &trans
&none  &none  &none  &none   &none   &none       &kp LG(UP)    &trans         &trans  &trans  &trans  &trans
&none  &none  &none  &none   &none   &none       &kp LG(DOWN)  &trans         &trans  &trans  &trans  &kp LG(RS(RIGHT))
&none  &none  &none  &trans  &trans  &trans      &kp LG(LEFT)  &kp LG(RIGHT)                          &kp LG(RS(LEFT))
            >;
        };

        none {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        T-Scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
